<!-- 公用底部start -->
<footer id="module_bottom_box">
  <!-- 文搜 -->
  <div id="module_text_search">
    <div id="module_bottom_search">
      {{> search}}
    </div>
    <a id="module_bottom_home" href="http://m.taotaosou.com" data-ga="底部导航|回首页"></a>
    <a id="module_bottom_top" href="#" data-ga="底部导航|回顶部"></a>
  </div>
  <!-- 底部 -->
  <div id="module_foot_wrap" class="clearfix">
    <div class="module_foot_son" id="module_bottom_pc">
      <a href="http://www.taotaosou.com/index.html?type=pc">
      <i></i>
      <p>PC版</p>
      </a>
    </div>
    <div class="module_foot_son" id="module_bottom_about">
      <a href="/about.html">
      <i></i>
      <p>关于淘淘搜</p>
      </a>
    </div>
    <div class="module_foot_son" id="module_bottom_down">
      <a href="/mobile/tts.html"  data-ga="底部导航|下载手机客户端">
      <i></i>
      <p>下载客户端</p>
      </a>
    </div>
  </div>
</footer>
<!-- 公用底部end -->
