<!DOCTYPE HTML>
<html classes="index" manifest="/cache.manifest?====">
  <head>
    <meta charset="utf-8">
    {{> meta}}
    <title>首页</title>
    <meta name="keywords" content="{{keywords}}">
    <meta name="description" content="{{disc}}">
    {{> ga}}
  </head>
  <body class="body-index">
    node web service
  </body>
</html>